In [ ]:
print("merhaba")

In [16]:
def karisik(x):
    if(x > 0):
        sonuc = x+karisik(x-1)
        print(sonuc)
    else:
       sonuc = 0
    return sonuc
       

print("bir sayi gir bakem")
karisik(3)

bir sayi gir bakem
1
3
6

6

In [18]:
def tri_recursion(k):
    if k>0:
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result
tri_recursion(6)

1
3
6
10
15
21

21

In [1]:
sum([16,0b10000,0o20,0x10])

64

In [13]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

max(a[2:4] + ['grault'])

'grault'

In [29]:
a = ["a","b","c"]
a += "de"
print(a)

['a', 'b', 'c', 'd', 'e']

In [ ]:
"merhaba deniz" #böylede calisiyor

In [ ]:
print("merhaba -1")
print()

print("helllo")

In [1]:
print(format(924.446,"3"))

924.446

In [10]:
def iki(n):
    return lambda a:a*n

kelli = iki(2)

print(kelli(31))
def karisik(x):
    if x>0:
        sonuc = x+karisik(x-1)
        print(sonuc)
    else:
       sonuc = 0
    return sonuc
       

print("bir sayi gir bakem")
print(karisik(6))

62
bir sayi gir bakem
1
3
6
10
15
21
21

In [9]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
help(print)

In [ ]:
A=3
#A niin degegerini ekrana yazdiryioruz
print(A)
print("A = ", A)

In [ ]:
A = 8; B = 5; C = 6
#print(f"A = {A}")
print("A = {0}  B = {1}".format(A, B, C)); print(f"A = {A}")

In [ ]:
print("ali"'veli')

In [ ]:
ad_soyad = "tabak bakicisi"

In [ ]:
def function(): 
    """ 
    tosbaga avcisi
    """

print(function.__doc__)

In [ ]:
no1, no2 = 31, 27
no3 = no1 - no2
print(no3)

In [ ]:
no1, no2 = 31, 27
no3 = no1 - no2
print(no3)

In [ ]:
no1, no2 = 7, 2
no3 = no1 // no2 # (//)  Kalansiz bölüyor
print(no3)

In [ ]:
no1, no2 = 7, 2
no3 = no1 % no2 # (#) isreti kalan i yazdiriyor
print(no3)

In [ ]:
no1, no2 = 7, 2
no3 = no1 ** no2 # (**) isreti karesi yazdiriyor
print(no3)

In [ ]:
print('ich will', end='')
print("keleer")

In [ ]:
type(4)

In [ ]:
print('isreti karesi\nyazdiriyor')   # (\n) bir asagiya yazdir

In [ ]:
print('isreti', ' karesi', ' yazdiriyor', sep='\t')   # (\t) araya Tab koyuyor

In [ ]:
print('isreti', '\bkaresi', '\byazdiriyor') # (\b)  bitisik yazdiriyor

In [ ]:
print('isreti kares\'i yazdiriyor')    # (\) isareti sonra gelen (') isaretinin
                                        # fonctionunu yok sayiyor

In [ ]:
x = True and False or not False or False
print(x)

In [ ]:
print(9 and 3)
print(1 and "hexxeeeeee")
print([] or "hexxeeeeee")
print(0 or {})

In [ ]:
fruit = 'sümeyye'
print('Word              :' , fruit)
print('Word3             :' , fruit[0])
print('Word4             :' , fruit[1])
print('Word5             :' , fruit[2:5])
print('Word5             :' , fruit[2:])

In [ ]:
city = 'Phoenix'

print(city[1:])
print(city[:3])
print(city[3:])
print(city[::3])
print(city[1::4])
print(city[-3:])
print(city[::-1])

In [ ]:
Veg = "0123456789"
print('kelime uzunlugu', Veg, 'nin', len(Veg) )

str = '01234567890123456789'
print(str[:2])
print(str[::3])
print(str[3::5])
print(str[2:])
print(str[::-1])
print(str[:3])

In [ ]:
print(3*'no way ')
x = ' elma '
y = ' Armut '

print(x + y)
print(x*3)

In [ ]:
x = 'kal'
x += 'ma'
x += 'yin'
print(x)

In [ ]:
denklem = 'ben oraya %d %s and %.2f gidecegim' % (4, "cocuk", 5)
print(denklem)

In [97]:
olmaz = 'hey %s %s %s ' % ("bolu", "beine", "beyine" )
print(olmaz)

print('%.5s' % olmaz)

hey bolu beine beyine
hey b

In [ ]:
x = 'ahmet'
y = 'mehmet'
print('heyy {x} ve {y} gelsin' .format(x='ahmet' , y='mehmet'))

In [ ]:
print('{} heyyy {} e baksana'.format('ahmet','mehmet'))

In [ ]:
print("{9}{7}{1}{10}{3}{2}{5}{8}{6}{0}{4}".format(
    'in ','know ','bring ','to ','students.','out ','best ' 
    ,'teachers ','the ','Good ','how '
    ))

In [ ]:
fstring = f"buraya f modulünün ayarini yapioyruz {4*5}"
kal = '15 dirrr'
tosba = f'{3*5} {kal}'

print(fstring)
print(tosba)

In [ ]:
adim = "LATIF"
düzlestir = f"Adin harfleri düzenlenince {adim.capitalize()}" # capitalize ismi düzeltir
print(düzlestir)

In [ ]:
x = " casdas "
y = " tosbas "
birlikte = f"nanimi sikma {x}" f"bana bak bakayim {y}"
print(birlikte)

In [ ]:
text = "www.twitter.com"
print(len(text))
print(text.endswith("m"))
print(text.startswith("www"))
print(text.startswith("t", 4))
print(text.endswith("r", 6, 15))

In [ ]:
text = "www.TWitte-r.com"
print(len(text))
print(text.endswith("-", 6, 16))
print(text.upper())
print(text.lower())
print(text.capitalize())
print(text.count("z"))

In [ ]:
email = "clarusway@clarusway.com is my e-mail address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

In [ ]:
ilk_deger = input("Adinizi girin")
son_deger = input("Soyadiniz")
print("adiniz :"+ ilk_deger.capitalize() \
     + "\nsoyadiniz :"+ son_deger.upper())

In [ ]:
name = " Kara Kasan Kamayasicasi"
print(name.replace("a", "i")) # degistiriyor
print(name.title()) # bas harflerini büyütüyür
print(name.swapcase()) # tersine ceviriyor
print(name.upper()) # hepsini büyütüyor

In [ ]:
print("bak", "beri", "beri", sep="..", end=" " )

In [ ]:
karpuzz()
"""
heyyyyooooooo

"""
print(parpuzz.__doc__)

In [ ]:
name = " Latif " 
nachname = " Yildirim "  
    alt= " 31 " 
    print(name + nachname + alt)

In [ ]:
import keyword              #özel kullanilan komutlari böyle cagiriyoruz
print(keyword.kwlist)

In [ ]:
print("adasd" "adasdsa" "dadaa",  3, 5,)

In [ ]:
x = 10
if x == 10 :
    print('karpuz')   
    
else : 
    
    print('kaviun')

In [161]:
print(max("JOSEPH"))
example = "snow world"
example[3] = 's'
print(example)

S

TypeError: 'str' object does not support item assignment

In [ ]:
example ='helen'
print(example[::-1])
print(example.find('e'))

In [ ]:
s = '  karaciger'
print(s.strip())

In [23]:
text = "Clarusway, Clarusway, Clarusway"
print(text + ",\n\t" + text +",\n\t\t" + text)

Clarusway, Clarusway, Clarusway,
	Clarusway, Clarusway, Clarusway,
		Clarusway, Clarusway, Clarusway

In [ ]:
word = 'clarusway'
n = 3
front = word[:n]
back = word[n+1:]
print(front + back)

In [ ]:
liste = ['kkk', 'lll', 'hhhhh']
print(liste)

In [ ]:
string_1 = 'hemen uyurum'
new_list_1 = list(string_1)
print(new_list_1)
new_list_2 = [string_1]
print(new_list_2)

In [ ]:
mixed_list = [11, 'joseph', False, [1, 2, 3]]
print(mixed_list)

In [ ]:
warning = 'You must quit smoking!'
print(len(list(warning)))

In [ ]:
empty_list_1 = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
empty_list_1.append('Element')
empty_list_1.insert(3,'Kalamar')
empty_list_1[1] = 'Karababa'
empty_list_1.remove('Seoul')
empty_list_1.sort()
#empty_list_1.insert()
x = '7'
y = '3'
print(len(empty_list_1), empty_list_1)
print(empty_list_1[1])

In [ ]:
city = ['aaaa', 'bxcv', 'cccc', 'dddddd', 'eeeee']
list_city = []
list_city.append(city)
print(list_city)
print(list_city[0][1][2])

In [22]:

x = {'apple', 'banana', 'cherry'}
y = {'google', 'microsoft', 'apple'}
z = x.union(y)
print(z)
print(ahmet)

{'cherry', 'apple', 'banana', 'microsoft', 'google'}

In [25]:
a = 33
b = 0

if b > a:
    pass

In [20]:

x = {'a', 'b', 'c'}
y = {'g', 'm', 'r', 't', 'z'}
z = x.isdisjoint(y)
print(z)

True

In [ ]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17]
print(numbers[:-3])

In [4]:
count = list(range(11))
print(count)

print(count[0:11:5])
print(count[0:11:2])
print(count[:])
print(count[1::3])
print(count[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 5, 10]
[0, 2, 4, 6, 8, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 7, 10]
[0, 2, 4, 6, 8, 10]

In [ ]:
print(len([[12, 14, 16]][0]))

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[0:5:2])

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
new_list =[]
my_list

for x in my_list:
    if x % 2 != 0:
        new_list.append(x**2)
print(new_list)        
print([x**2 for x in my_list if x % 2 != 0])

In [ ]:
try_tuple = ('love',0)
print(try_tuple)
print(type(try_tuple))

In [ ]:
planets = 'horalet', 'tomalet', 'kereiz'
print(planets)
print(type(planets))

In [ ]:
haha = tuple()
print(haha)
print(type(haha))

In [ ]:
my_tuple=(1, 3, 5, 7, 9)
my_list = list(my_tuple)
print(type(my_list), my_list)

In [ ]:
my_list = [1, 3, 5, 7, 9]
my_tuple = tuple(my_list)
print(type(my_tuple), my_tuple)

In [ ]:
karaciger = list('kereviz')
karaciger[0] = 'top', 5
karaciger[1] = 'hello'
print(karaciger)
print(karaciger.count('r'))    #.count() aradigimiz karakteri buldurur.

tuple() tipi list() tipinden hizlidir.

In [ ]:
my_list = list(range(1,11))
my_list_2 = my_list
my_list.sort(reverse=True)
print(my_list)
my_list_2[::-1]
print(my_list_2)
type(my_list)

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1:6:2])

In [ ]:
escapes = ["\n\t", "\n\t\t"]

sentence = "I am 40 years old. {}I have two children. {}Data Science is my IT domain.".format("\n\t", "\n\t\t")

print(sentence)

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, \
two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

In [ ]:
empty_dict_1 = {}
empty_list_2 = dict()
my_dict = {'key1': 'value1',
           'key2': 'value2',
           'key3': 'value3'}

In [ ]:
my_dict = {'name': 'Yildirim',
           'vorname': 'Latif',
           'alt': '31'}
my_dict['name'] = 'Mahmut'
print(my_dict)

In [ ]:
my_dict = dict(name='Latif', vorname='yildirim', number=3, pi=3.14)
print(dict.__doc__)

In [ ]:
my_dict = {'name': 'Yildirim',
           'vorname': 'Latif',
           'alt': '31'}
my_dict.update({'ort': 'Hemer'})  #eklemek icin
my_dict.update({'OK!': False})
my_dict['name'] = 'Mahmut'
print(my_dict)
print('ort' in my_dict)         #olup olamdigini
print('OK' not in my_dict)      #olup olamdigini sorgulariz

In [ ]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
del student_ages["Harry"]   #   silmek icin bunu kullaniriz
print(student_ages)
print(student_ages['Clark'])

In [ ]:
okul_kayit={
    "personel_bilgi":
        {"cocuk":{"ali":{"sinif":"orta", "yas":10},
                  "su":{"sinif":"baslangic", "yas":8}
                },
         "genc":{"yusuf":{"sinif":"lise", "yas":19},
                 "meryem":{"sinif":"anadolu", "yas":16}
                 },
         },
        
}
print(okul_kayit["personel_bilgi"]["genc"]["meryem"]["yas"])

In [ ]:
okul_kayit={
    "personel_bilgi":
        {"cocuk":{"ali":{"sinif":"orta", "yas":10},
                  "su":{"sinif":"baslangic", "yas":8}
                },
         "genc":{"yusuf":{"sinif":"lise", "yas":19},
                 "meryem":{"sinif":"anadolu", "yas":16}
                 },
         },
        
}
print(okul_kayit["personel_bilgi"]["cocuk"]["su"]["yas"])

In [ ]:
{x: x**2 for x in (2, 4,6)}
dict(ahmet=31, mehmet=25, latif=29)

In [ ]:
empty_set = set()
colorset = {'mavi', 'kirmisi', 'turuncu'}
s = set('kara')
print(type(empty_set))
print(type(colorset))
print(s)

In [ ]:
flower_list = ['rose', 'violet', 'menekse']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset)
print(flowerlist)

In [ ]:
a = set('abracadabra')
b =set('kalabalick')
print(a)
print(a - b)                    # a da olup b de olamayanlar(a fark b)
print(a.difference(b))
print(a | b)                    # a ve b birlesimi. (a U b) Birlesim
print(a.union(b))
a.remove('a')
print(a)
print(a & b)                    # a ve b de ayni olanlar (a n b) kesisim
print(a.intersection(b))

In [ ]:
a = set('abracadabra')
#a.remove('a')
#a.add('a')
print(a)
print(len(a), )

In [ ]:
print(len(set('listen to the voice of enlisted')))

In [ ]:
names = ['ahmet', 'mehmet']
scores = []
scores.append(32)
scores.append(35)

print(names)
print(scores)
print(scores[0])

In [ ]:
aaaa = ['ahmet', 'mehmet', 'ahmdet']
print(aaaa[0:3:])

In [ ]:
from array import array
scores = array('d')
scores.append(92)
scores.append(97)
print(scores)
print(scores[1])

In [ ]:
person = {'first':'Christopher'}
person['last'] = 'Harrison'
print(person)
print(person['last'])

In [ ]:
ahmet = {}
ahmet['first'] = 'Ahmet'
ahmet['last'] = 'Kaya'

mehmet = {}
mehmet['first'] = 'Mehmet'
mehmet['last'] = 'Daya'

ilgililer = []
ilgililer.append(ahmet)
ilgililer.append(mehmet)
ilgililer.append({
    'first':'Veli', 'last':'Kara'
})
print(ilgililer)

In [ ]:
family_members = tuple(['Meghan', 'Tom', 'Nicole', 'Tim'])
print(family_members)

In [ ]:
num1 = input()
num2 = input()
num3 = (int(num1) - int(num2))
print(num3)

In [ ]:
import math
r = 5
area = math.pi*(r**2)
print(area)
print()

In [ ]:
import math
a = 2
b = 8
print(math.sqrt(a*b))

In [ ]:
import math 
a = 3
b = 4
c = math.hypot(a,b)
# c = (((a**2)+(b**2))**.5)
print(c)

In [ ]:
email = "latif\x40clarusway.com"
print(email, "\N{fire}")

In [ ]:
print(any(["ahmet", True, ""]))   # icinde bir tane True varsa True döndürür.
print(all(["ahmet", True, ""]))    #  icinde hepsi True ise True döndürür.

In [ ]:
z = 5
Zx = (1 /math.sqrt(2*math.pi))*math.exp(-z*z/2)
print(Zx)

In [ ]:
print("\x61")
print(0x11)

In [ ]:
if True :
    print('karpuz')

In [ ]:
empty_set = 14
if empty_set > 13:
    print(empty_set)

In [ ]:
x = 6
y = 7
print("x y ye esitmi bi bak bakam ", x==y)


course = "top"

if course <= "op":
    print("yupiuuuu")
else:
    print("yuh")

In [ ]:
sayi = 35
if sayi < 30:
    print("ok")
elif sayi > 25:
    print("hadi bildin yine")
elif sayi == 331:
    print()             # istedigimiz kadar eliff
    
else:
    print("olmadi be müdür")

In [ ]:
number = 23
if number >= 10:
    print( 'The number is equal or greater than 10')
else:
    print('The number is less than 10')

In [ ]:
price = 4
if price >= 1.00:
    tax = .07
else:
    tax = 0
if price:
    print(tax)

In [45]:
code = 0
while code < 6:
    print(code)
    code += 1
print("code 6 ya esit veya 6 dan büyüktür")

0
1
2
3
4
5
code 6 ya esit veya 6 dan büyüktür

In [7]:
my_list = ["a", "b", "c", "d", "e"]
a = 0
while a < len(my_list):
    print('square of {} is: {}'.format(a, a**2))
    a+=1

square of 0 is: 0
square of 1 is: 1
square of 2 is: 4
square of 3 is: 9
square of 4 is: 16

In [61]:
answer = 63
question = "Hadi numarayi bil bakalim"
print("Hadi Tahmin Et")
while True:
    tahmin = int(input(question))
    if tahmin < answer:
        print(tahmin, "biray daha yüksek :")        
    elif tahmin > answer:
        print(tahmin, "biraz daha kücük")
    else:
        print(tahmin, "bildinnn yupppiyyyy")    
        break

Hadi Tahmin Et
63 bildinnn yupppiyyyy

In [56]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count1 > 0:
    print(flowers[count2])
    count1 -= 1
    count2 += 1

Rose
Orchid
Tulip

In [73]:
ahmet = ["a", "h", "m", "e", "t"]
for ahmet in ["a","h","m","e","t"]:
    print(ahmet, end='\n')

a
h
m
e
t

In [71]:

for i, j in {'n1': 'one', 'n2':'two'}:
    print(i,j)

n 1
n 2

In [84]:
noter = 'clarusway'
for i in noter:
    print(i, end="")

clarusway

In [88]:
girdi = int(input("Kac kez 'Seni Sevioyrum' yazmami istoyrsan yaz"))
for i in range(girdi):
    print("Seni seviyorum", range(girdi), i)

Seni seviyorum range(0, 5) 0
Seni seviyorum range(0, 5) 1
Seni seviyorum range(0, 5) 2
Seni seviyorum range(0, 5) 3
Seni seviyorum range(0, 5) 4

In [119]:
x = int(input("1-10 arasi sayi gir"))
for i in range(11):
    print("{}*{} :".format(x,i), x*i)          # iceri cekme seysii
    print('%s*%s :' % (x, i), i*x)          # secme seysi

7*0 : 0
7*0 : 0
7*1 : 7
7*1 : 7
7*2 : 14
7*2 : 14
7*3 : 21
7*3 : 21
7*4 : 28
7*4 : 28
7*5 : 35
7*5 : 35
7*6 : 42
7*6 : 42
7*7 : 49
7*7 : 49
7*8 : 56
7*8 : 56
7*9 : 63
7*9 : 63
7*10 : 70
7*10 : 70

In [ ]:
print(abs(19))
result = ((25 % 7 + 10 / 2) % 3 == 0) and ((abs(-19) / 2 - 2) > 9)
print(result)
print(pow(2, abs(3)))

In [ ]:
city = "kalem"
print(city[1:4:-2])

In [21]:
a = list(range(11))
b = set(range(11))
c = tuple(range(11))
d = "kalem"
print(a)
print(*b)
print(c)
print(d[-4:3])
print(d[:])
print(* d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
0 1 2 3 4 5 6 7 8 9 10
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
al
kalem
k a l e m

In [31]:
print(*range(2,17,2))
print(*('separate'))

2 4 6 8 10 12 14 16
s e p a r a t e

In [36]:
phrase = ('{2} {3} {1} {0}'.format('circumstances', 'in all', 'generosity', 'wins'))
print(phrase)

generosity wins in all circumstances

In [43]:
condition = 'circumstances'
morality = 'generosity'
phrase = '{morality} {0} {1} {condition}'.format('in all', 'wins', condition = 'circumstances', morality = 'generosity')
print(phrase)

generosity in all wins circumstances

In [46]:
print(f"{2**3}")

8

In [49]:
name = "latif"
job = "IT"
mesg = (
    f"Hi {name}"
    f" My job is a {job}"
)
print(mesg)

Hi latif My job is a IT

In [50]:
name = "latif"
job = "IT"
mesg = f"Hi {name}" \
    f" My job is a {job}" 
print(mesg)

Hi latif My job is a IT

In [54]:
name = "latif"
job = "IT"
mesg = ("Hi", name, \
    " My job is a ", job)
print(mesg)

('Hi', 'latif', ' My job is a ', 'IT')

In [62]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"
msg = (
f"{name} is" \
f"a {age} " \
f"{gender} and she is a student at the" \
f"{school}."
)
print(msg)

Susan isa young lady and she is a student at theCLRWY IT university.

In [87]:
print(* range(10,0,-2))
print()

10 8 6 4 2

In [85]:

num2 = 2
num1 = 13.67
num2 //= num1
print(type(num2))

<class 'float'>

In [2]:
print(*range(10,0,-2))

10 8 6 4 2

In [89]:
text = ['one', 'two', 'three', 'four', 'five']
number = [1, 2, 3, 4, 5]
for x,y in zip(text, number):
    print(x, ':', y )

one : 1
two : 2
three : 3
four : 4
five : 5

In [94]:
who = ['I am ', 'You are']
mood = ['happy', 'confident']

for i in who:
    for ii in mood:
        print(i,ii)

I am  happy
I am  confident
You are happy
You are confident

In [96]:
for index in range(0, 2):
    print(index)

0
1

In [97]:
who = ['I am ', 'You are']
index = 0
while index < len(who):
    print(who[index])
    index += 1

I am
You are

In [102]:
boy = float(input("Boyuzu giriniz ' örnegin: 1.72'"))
kilo = float(input("Kilonuzu giriniz ' örnegin: 80'"))
vki = kilo / boy**2
if vki < 18.5:
    print("Düsük Kilolu")
elif 18.5 <= vki <=24.99:
    print("Normal Kilo")
elif 25 <= vki <=29.99:
    print("Fazla Kilo")
else:
    print("Obez")

Fazla Kilo

In [10]:
#Text : “If we had bought $2000 crypto coins at the weekend, we would have had $4,152.32 with a profit share of 11% after 5 days.”
num1 = "$2000"
num2 = "$4,152.32"
num3 =  "11%"
num4 =  "5"
text1 = (
    f"If we had bought {num1} " \
    f"crypto coins at the weekend, we would have had {num2} " \
    f"with a profit share of {num3} " \
    f"after {num4} days."
)

text2 = "If we had bought {} crypto coins at the weekend, \
we would have had {} with a profit share of {} \
after {} days.".format(num1, num2, num3, num4)

print(text1)
print(text2)

If we had bought $2000 crypto coins at the weekend, we would have had $4,152.32 with a profit share of 11% after 5 days.
If we had bought $2000 crypto coins at the weekend, we would have had $4,152.32 with a profit share of 11% after 5 days.

In [12]:
sayi = int(input("Bir sayi giriniz"))
num1 = bool(sayi%2)
print(num1 and "Bu bir Tek sayidir" or "Bu bir Cift sayidir")

bu bir Cift sayidir

In [5]:
import random
print(random.randrange(40))


f = 1
724
n = 5
for i in range(1,6):
    f = f*i
print(f)
print("0b{}".format(255))
print(998*2)

4
120
0b255
1996

In [69]:
import random

liste = ['elma', 'armut', 'şeftali', 'kiraz', 'muz', 'üzüm', 'erik']
print(random.choice(liste))

armut

In [85]:
saved_amount = int(input('Please enter your saved amount: '))
ps4_price = 300
if saved_amount <= ps4_price/2:
    print("You must save more, keep saving!")

    
elif saved_amount >= ps4_price:
    print("Yippee! You can buy your PS4")
else:
    print("You saved more than half, keep saving!")

You must save more, keep saving!

In [87]:
saved_amount = int(input('Please enter your saved amount: '))
ps4_price = 300
if saved_amount <= (ps4_price/2):
    print("You must save more, keep saving!")
elif saved_amount >= ps4_price:
    print("Yippee! You can buy your PS4")
else:
    print("You saved more than half, keep saving!")

Yippee! You can buy your PS4

In [96]:
math_mark = int(input('Please enter the mark: '))

if math_mark < 45:
    if math_mark < 0:
        print("0 dan kücük sayi. Lütfen tekrar deneyiniz!!!!!")
    else:
        print("F (Failed)")
elif math_mark < 60:
    print("D (Not Bad)")
elif math_mark < 70:
    print("C (Medium)")
elif math_mark < 85:
    print("B (Good)")
elif math_mark < 101:
    print("A (Excellent)")
else:
    print("100 den büyük Tekrar gir")

100 den büyük Tekrar gir

In [13]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [12]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [16]:
x = 5
x =complex(x)
print(int(x))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [1]:
kilo = int(input("Kilonuzu giriniz: "))
boy = float(input("Boyunuzu giriniz: "))
vki = kilo/boy**2
print(f"Vücut kitle endeksiniz : {vki:.2f}")
print((19.00<vki<25.00) and "Kilonuz Normal" or "Kilonuz normal degil")

Vücut kitle endeksiniz : 18.93
Kilonuz normal degil

In [16]:
Sicaklik_F = int(input("Sicakligi Fahrenheit olarak giriniz"))
print(Sicaklik_F,"T(Fahrenheit) =", ((Sicaklik_F-32)*5/9):.2f, "T(Celcius) dur")
A = "ßÄä"
print(A.casefold())

ssää

In [35]:
email = "latif.33@gmail.com"
ilk_index = email.find("3")
print(ilk_index)
email = email[(ilk_index+1):]
ikinci_index = email.find("3")+ilk_index+1
print(ikinci_index)
email = email[(ikinci_index+1):]
ücüncü_index = email.index("3")+ikinci_index+1
print(ücüncü_index)
"""print("@" in email)
print(email.startswith("latif"))
print(email.endswith(".com"))"""

6
7

ValueError: substring not found

In [46]:

email = "latif.33@gmail.com"
print("@" in email)
print(email.endswith("@"))

a =list(e)

SyntaxError: invalid syntax (72270222.py, line 3)

In [32]:
text = """
Data preprocessing is an important task in text classification. 
This program counts words in a sentence. 
It starts with space separated words.
"""
print("paragraf", text.count("."), "cümleden olusmaktadir") 'aradigimiz seyden kac tane var'

paragraf 3 cümleden olusmaktadir

In [44]:
text = """
Data preprocessing is an important task in text classification.
This program counts words in a sentence.
It starts with space separated words.
"""
email = "latif.33@gmail.com"
print(text.rfind("a"))
print(email.find("@g"))
print(email.rfind("@g"))
print(email.index(""))

132
8
8
6

In [160]:
email = "latif.33@gmail.com"
char = input("girinizz")
circle = [i for i,x in enumerate(email) x==char]
a = tuple(enumerate(email))
b = a.index()
print(a)

SyntaxError: invalid syntax (3425807936.py, line 3)

In [1]:
email = "latif.33@gmail.com"
deger = len(email)
for i in range(deger):
    print(f"{i} indexinde {email[i]} harfi vardir")
a = list(enumerate(email))   
b = zip(a[0])

0 indexinde l harfi vardir
1 indexinde a harfi vardir
2 indexinde t harfi vardir
3 indexinde i harfi vardir
4 indexinde f harfi vardir
5 indexinde . harfi vardir
6 indexinde 3 harfi vardir
7 indexinde 3 harfi vardir
8 indexinde @ harfi vardir
9 indexinde g harfi vardir
10 indexinde m harfi vardir
11 indexinde a harfi vardir
12 indexinde i harfi vardir
13 indexinde l harfi vardir
14 indexinde . harfi vardir
15 indexinde c harfi vardir
16 indexinde o harfi vardir
17 indexinde m harfi vardir

In [17]:
email = "Latif.33@gmail.com"
harf = input("Aradiginiz harfi giriniz")
konumlar = [i for i, x in enumerate(email) if x == harf]
print(konumlar)

[1, 11]

In [63]:
text = "Galatasaray"
text2 = text.replace("a", "e", 1)
print(text2)
print(text.swapcase())
print(text.zfill(19))
print(text.center(5))

Gelatasaray
gALATASARAY
00000000Galatasaray
Galatasaray

In [75]:
x = "I live and work in Virginia"
print(x.upper())
print(x.lower())
xa = x.swapcase()
print(xa)
xa = xa.capitalize()    #  ilk harfi büyük yapiyor geri kalanlari kücük harfe cevirir.
print(xa)
print(xa.title())
print(xa.replace(" ", ""))

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in virginia
I Live And Work In Virginia
Iliveandworkinvirginia

In [69]:
text = 'the better the family, the better the society'
print(text.title())
print(text.capitalize())

The Better The Family, The Better The Society
The better the family, the better the society

In [113]:
x = "    S0d0me and G0m0re   "
print(x.replace("0", "o"))
print(x.strip('oeS0r  '))
print(x.rstrip("re "))
print(x.lstrip(" Se"))
print(x.removesuffix("re   "))

    Sodome and Gomore
d0me and G0m
    S0d0me and G0m0
0d0me and G0m0re
    S0d0me and G0m0

In [ ]:
x = ""

In [114]:
text = 'tyou can learn almost everything in pre-classz'

print(text.strip('zt').upper())

YOU CAN LEARN ALMOST EVERYTHING IN PRE-CLASS

In [27]:
#Task-7:
    
#text = 'In % God wee  % Trust' %  (hee ,5)

#print(text.replace("we", "w"))
print('karabasan %.2f ahmet %i ' %(6, 7))

karabasan 6.00 ahmet 7

In [17]:
print("Good teachers know how to bring out the best in students." )
print('{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4} ' \
      .format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.
Good teachers know how to bring out the best in students.

In [2]:
number = int(input('Please enter a number: '))
i = 0
while i < number:
    print(i**2)
    i +=1

0
1
4

In [32]:
'{:>30}'.format("right aligned")
#format("right aligned", '>30s')

'                 right aligned'

In [60]:
ifade = "dosya.py"
kalem = ifade.find("py")
print((kalem>0) and "Bu python dosyasi" or "pyton dosayasi degil")
#kalem = ifade.endswith("py")
#kagit = ifade.endswith("ipynb")
#print((kalem or kagit) and "öyle" or "degil" )
print(kalem)

Bu python dosyasi
6

In [42]:
liste = "Kalem"
list2 =list(liste)
print(list2)

['K', 'a', 'l', 'e', 'm']

In [52]:
listem = "I quite smoking"
new_list_1 = [listem]
new_list_1
len(new_list_1)
listem1 = listem.split()
print(listem1)

['I', 'quite', 'smoking']

In [51]:
listem = ["ankara", "mus", "diyarbakir"]
listem1 = "ankara, mus, diyarbakir"
listem2 = listem1.split(", ")
listem2

['ankara', 'mus', 'diyarbakir']

In [63]:
mix_list = [11, 'Joseph', False, 3.14, None, [1,2,3]]
print(list(mix_list))
print(list(mix_list))
print(type(mix_list[5]))
new_list = [mix_list]
print(mix_list)

[11, 'Joseph', False, 3.14, None, [1, 2, 3]]
[11, 'Joseph', False, 3.14, None, [1, 2, 3]]
<class 'list'>
[11, 'Joseph', False, 3.14, None, [1, 2, 3]]

In [74]:
listem = "2020's hard"
listem2 = [listem]
listem1 = list(listem)
print(listem1)
print(listem2)

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']
["2020's hard"]

In [76]:
text = "python"
my_list = list(text)
my_list[1] = "i"
print(my_list)
text = "".join(my_list)
print(text)
help("".join)

['p', 'i', 't', 'h', 'o', 'n']
pithon

In [77]:
help("".join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [78]:
#
my_list = [1, 4, 7]
my_list.append(9)
my_list

[1, 4, 7, 9]

In [80]:
my_list = []
my_list.append(6666)
my_list.append('multiverse')
my_list.append([0])
my_list

[6666, 'multiverse', [0]]

In [89]:
list3 = [1,2,3,4]
list3.insert(7,5)
#list4 = [5,6,7,8]
#list3.extend(list4)   #   listeyi genisletiyor
list3

[1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 4, 7]
numbers.insert(2,9)
print(numbers)
number

In [106]:
numbers = [1, 4, 7, 9]
numbers.remove(7)
print(numbers)
numbers

[1, 4, 9]

[1, 4, 9]

In [158]:
numbers = [1, 4, 7, 9]
listem = ["ankara", "mus", "diyarbakir"]
numbers.pop(1)
print(listem)
print(numbers)

['ankara', 'mus', 'diyarbakir']
[1, 7, 9]

In [117]:
numbers = [1, 4, 8, 3, 7, 9]
numbers.sort(reverse=True)
print(numbers)
numbers.sort() #kucukten buyuge siraliyor
print(numbers)
numbers.reverse() # ters ceriryor
print(numbers)

[9, 8, 7, 4, 3, 1]
[1, 3, 4, 7, 8, 9]
[9, 8, 7, 4, 3, 1]

In [118]:
numbers = [1, 4, 8, 3, 7, 9]
nubers_sorted = sorted(numbers)
nubers_sorted

[1, 3, 4, 7, 8, 9]

In [122]:
mix_list = ['d', 1, "a", 7]
mix_list.sort()
print(mix_list)

TypeError: '<' not supported between instances of 'int' and 'str'

In [120]:
mix_list = ['d', '1', "a", '7']
mix_list.sort()
print(mix_list)

['1', '7', 'a', 'd']

In [124]:
numbers = [True, False, 1, 4, 7, 9]
a_liste = numbers.copy()
b_liste = numbers[:]
c_liste = numbers
print(a_liste)
print(b_liste)
print(id(a_liste)==id(b_liste))
print(id(a_liste)==id(numbers))
print(id(c_liste)==id(numbers)) # yeni bir konuma kopyalamadi sadece baglanti atti 
                                # üstttekinlerde ise yeni bir alana kopyaladi

[True, False, 1, 4, 7, 9]
[True, False, 1, 4, 7, 9]
False
False
True

In [129]:
A = []
A.extend([0,1,2,3,4,5,6,7,8,9])
print(A)
B = A[::-1]
C = A[:]
C.reverse()
print(B)
print(C)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [29]:
sayi = sayi8 = sayi16 = int(input("Bir sayi giriniz"))
ikili = []
sekizli = []
onaltili = []
while sayi > 0:
        kalan = sayi%2    
        ikili.insert(0,kalan)
        sayi = sayi//2
print("ikili =", ikili)


while sayi8 > 0:
    kalan = sayi8%8  
    sekizli.insert(0,kalan)  
    sayi8 = sayi8//8
print("sekizli =", sekizli)


while sayi16 > 0:
    kalan = sayi16%16 
    onaltili.insert(0,kalan)  
    sayi16 = sayi16//16    
print("onaltili =", onaltili)

ikili = [1, 1, 1, 0, 0, 0]
sekizli = [7, 0]
onaltili = [3, 8]

In [47]:
ikili = ["istanbul", 3, 1, 0, 6, 0]
sekizli = [7, 0]
ikili +=(sekizli)
print(ikili[0][3])
# print(ikili.sort(reverse = True))

ikili.pop(1)

a

3

In [48]:
print(list(range(1,11))[::2])
animals_ = animals[].copy

[1, 3, 5, 7, 9]

In [44]:
print(sum(range(1,11)))

55

In [ ]:
def ikinci_büyük(a):
    a.sort()
    a.remove(-1)

In [70]:
Email = input("Email adresinizi giriniz")
print(((Email.count("@") > 0 ) and (Email.count(".") > 0) and (Email.rfind(".") > Email.rfind("@"))) and "Valid Email" or "Invalid Email")

In [5]:
"Monty Python".strip(" Python")

'M'

In [10]:
url = "abcdc.com"
url.strip(".com")

'ancd'

In [11]:
url = "abcdc.com"
url.removesuffix(".com")

'ancdc'

In [8]:
"Monty Python".removesuffix(" Python")

'Monty'

In [30]:
a = 31456
print('{:,}'.format(a))

31,456

In [16]:
url = "abcdc.com"
url.partition("ab")[2]
url.partition("ab")
print(url.strip("ab"))

cdc.com

In [21]:
vize = int(input("Bitte geben sie Ihre Visaprüfungsnote ein"))
final = int(input("Bitte geben sie Ihre Anschlussnote ein"))
durch = (vize*.4 + final*.6)
print(f"Ihr Notendurchschnitt liegt bei {durch:.0f}.")

Ihr Notendurchschnitt liegt bei 45.

In [1]:
import emoji
import regex
text     = "???? ???? me así, bla es se ???? ds ????????????"
decode   = text.decode('utf-8')
allchars = [str for str in decode]
list     = [c for c in allchars if c in emoji.UNICODE_EMOJI]
print(list)

ModuleNotFoundError: No module named 'emoji'

In [19]:
AB = input("Iki sayi giriniz. Örnegin: 55,27").split(",")
A = AB[0]
B = AB[-1]
print(A>B and f"{B} {A}" or f"{A} {B}")

2323 342

In [156]:
import re:
    
mesaj = "Hi :junge:! Is the group meeting tomorrow? :breites_lächeln: I need to plan something.  So, please let me know. :breites_lächeln::beten:"

emoji = re.findall("[H][a-z]+[\W][:]", mesaj)
emoji
#mesaj.replace(emoji[0],"" ).replace(emoji[1],"" ).replace(emoji[2],"" ).replace(emoji[3],"" )

['Hi :']

In [7]:
a = 49
while a % 2 != 0:
    print(a)
    a += 5

49

In [5]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]
x = len(sample_list)
for i in range(0,x):
    print(f"The type of {sample_list[i]} is {type(sample_list[i])}.")

The type of {'section': 5, 'topic': 2} is <class 'dict'>.
The type of clarusway is <class 'str'>.
The type of [1, 4] is <class 'list'>.
The type of 2020 is <class 'int'>.
The type of 3.14 is <class 'float'>.
The type of (1+618j) is <class 'complex'>.
The type of False is <class 'bool'>.
The type of (10, 20) is <class 'tuple'>.

In [25]:
nu = int(input("bir sayi giriniz"))
prime = []

for i in range(1, (nu+1)):
    a=0
    for j in range(1,i+1):
        if i%j == 0:
            a +=1
    if a == 2:
        prime.append(i)
        
print(prime)
# if a ==2:
#     print(f"{nu} asal sayidir")
# else:
#     print(f"{nu} asal sayi degildir")

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [2]:
a, b, c = (1, 2, 3, 4, 5, 6, 7, 8, 9)[1::3]
print(b)

5

In [49]:
[2, 3, 5, 7, 11, 13, 17, 19, 23][:-3]

[2, 3, 5, 7, 11, 13]

In [ ]:
[2, 3, 5, 7, 11, 13, 17, 19, 23][:-3]

In [9]:
saved_amount = int(input('Please enter your saved amount: '))
ps4_price = 300
if saved_amount <= ps4_price/2:
    print("You must save more, keep saving!")
elif saved_amount > ps4_price:
    print("Yippee! You can buy your PS4!")
else:
    print("You saved more than half, keep saving!")

Yippee! You can buy your PS4!

In [31]:
a = [1, 2, 7, 8]
a = a[:2]+[3,4,5,6]+a[2:]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
t = ('foo', 'bar', 'baz')
t[1] = 'qux'
print

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(min(x,y))

In [19]:
numbers = [1,3,7,4,3,0,3,6,3]
x= max(numbers, key=numbers.count)
print(f"{x} sayisi {numbers.count(x)} kez tekrar etmistir.")

3 sayisi 4 kez tekrar etmistir.

In [16]:
x = int(input("Geben Sie die erste Zahl ein"))
y = int(input("Geben Sie die zweite Zahl ein"))
print((x%2==0 and y%2==0) and min(x,y) or max(x,y))

5

In [21]:
print("heyyyyyyy", max(eval(input("sayilari gir baekm"))))

heyyyyyyy 67

In [42]:
print("Die größte Zahl ist :",max(input("Zahlen eingeben").split(",")))

Die größte Zahl ist : 55

In [5]:
#####################################

In [3]:
"Mike" in "Mike" in "Mike"
#("Mike" in "Mike") and ("Mike" in "Mike")

True

In [2]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [4]:
word = "happy", "birdday"
print(tuple(word))

('happy', 'birdday')

In [5]:
empty_tuple = ()
print(type(empty_tuple))
# list == []
# tuple == () 
# string == ""

<class 'tuple'>

In [13]:
my_tuple = ("Solar")
print(my_tuple,type(my_tuple), sep="\n")

my_tuple = ("Solar",)
print(my_tuple,type(my_tuple), sep="\n")

my_tuple = tuple("Solar")
print(my_tuple,type(my_tuple), sep="\n")

Solar
<class 'str'>
('Solar',)
<class 'tuple'>
('S', 'o', 'l', 'a', 'r')
<class 'tuple'>

In [4]:
my_tuple=(1,2,3,4,5,6,7)
my_list = list(my_tuple)
print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 7)

In [25]:
#list to tuple
my_list=(1,2,3,4,5,6,7)
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
#tuple to list 
my_tuple=(1,2,3,4,5,6,7)
my_list = tuple(my_tuple)
print(my_tuple)
print(my_list)

In [28]:
tuple_1 = "h","a","p","p","y"
tuple_2 = 1,3,5
print(tuple_1)
print(type(tuple_2))
print(tuple_2[2])

('h', 'a', 'p', 'p', 'y')
<class 'tuple'>
5

In [ ]:
city = ["istanbul", "Tokyo", "Berlin", "Seul"]
city_tx.union(y)
mix_tuple[2][2][0]

In [30]:
mix_tuple = ("11",11,[2, "two",("six",6)], (5,"fair"))
str_six = mix_tuple[2][1:3]
print(str_six, type(str_six), sep="\n")
print(mix_tuple[3][1])
print(mix_tuple[-1][-1])

['two', ('six', 6)]
<class 'list'>
fair
fair

In [62]:
from collections import deque
queue = [1,3,4]
queue.append(6)
queue.append(7)
print(queue)

print(queue.popleft())

[1, 3, 4, 6, 7]

AttributeError: 'list' object has no attribute 'popleft'

In [3]:
from collections import Counter
numbers = [1,3,5,3,2,5,6,4]
c = Counter(numbers).most_common()
print(c[1])
print(c)

(5, 2)
[(3, 2), (5, 2), (1, 1), (2, 1), (6, 1), (4, 1)]

In [65]:
from collections import Counter
numbers = [1,3,5,3,2,5,6,4]
c = Counter(numbers).most_common()
print(c)

[(3, 2), (5, 2), (1, 1), (2, 1), (6, 1), (4, 1)]

In [66]:
#Dictionary
grocer1 = {"fruit": "apple", "drink":"bier"}
grocer2 =  dict(fruit="apple", drink="bier")
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'bier'}
{'fruit': 'apple', 'drink': 'bier'}

In [67]:
state_capitals = {"aaa":"111","bbb":"222", "ccc":"333" }
state_capitals["ddd"]= "444"
print(state_capitals)

{'aaa': '111', 'bbb': '222', 'ccc': '333', 'ddd': '444'}

In [69]:
state_capitals = {"aaa":"111","bbb":"222", "ccc":"333" }
state_capitals["ddd"]= "444"
state_capitals["aaa"] = "555" # Man kann direkt verschieben
print(state_capitals)

{'aaa': '555', 'bbb': '222', 'ccc': '333', 'ddd': '444'}

In [71]:
family = {"name1":"mustafa","name2":"Ibrahim","name 3":"latif"}
family["name4"] = "Kemal"

print(family)

{'name1': 'mustafa', 'name2': 'Ibrahim', 'name 3': 'latif', 'name4': 'Kemal'}

In [81]:
family = {"name1":"mustafa",
          "name2":30,
          "name 3":3.14}
family["name4"] = "Kemal"

# print(family.items(), "\n")
print(list(family.items()))
# print(family.keys(), "\n")
print(list(family.keys()), "\n")
# print(family.values())
print(list(family.values()))

[('name1', 'mustafa'), ('name2', 30), ('name 3', 3.14), ('name4', 'Kemal')]
['name1', 'name2', 'name 3', 'name4']

['mustafa', 30, 3.14, 'Kemal']

In [1]:

print(dict(("py","th", "on")))

{'p': 'y', 't': 'h', 'o': 'n'}